openai
pandas
streamlit
SQLAlchemy
PandaSQLite
python-dotenv
langchain
faiss-cpu
langchain-community
scikit-learn
tiktoken
pypdf
langchain-openai
python-dotenv
seaborn
requests
pandasai
pandasai[excel]
pandasai[seaborn]
pandasai[plotly]
pandasai[statsmodels]
pandasai[scikit-learn]
pandasai[streamlit]
pandasai[langchain]
pandasai[numpy]
pinecone
serpapi
google-search-results
semantic-router
langgraph